<html>
<head>
<title>会员分组列表</title>
</head>
<body>
<div><a href="/index.php?m=home&c=MemberGroup&a=add">添加</a></div>

<table width="500">
<tr>
<td width="100">会员名称</td><td width="100">创建时间</td><td>会员数量</td><td>操作</td>
</tr>
<?php foreach($list as $v){ ?>
	<tr>
	<td><a href="/index.php?m=home&c=MemberGroup&a=detail&id={$v[id]}">{$v['name']}</a></td><td>{$v['creattime']}</td><td>{$v['nums']}</td><td><a href="/index.php?m=home&c=MemberGroup&a=edit&id={$v[id]}">编辑</a></td>
	<tr>
<?php } ?>
</table>
</body>
</html>